.app-wrapper {
	width: calc(1080px / 3);
	height: calc(1920px / 3);
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;

	.background {
		width: 100%;
		height: 100%;
		position: absolute;
	}

	.page {
		width: 100%;
		height: 100%;
		position: absolute;
	}
}

.openning {
	.openning-gif-container {
		width: 100%;
		height: 100%;
		position: absolute;
		top: -5%;
		left: 0;
		padding: 10px;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			object-position: center;
		}
	}

	.skip-btn {
		position: absolute;
		left: 50%;
		bottom: 15%;
		transform: translateX(-50%);
		text-align: center;

		img {
			width: 30%;
			margin-top: 10px;
		}
	}
}

.result.page {
	background-color: #8e1c0d;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	.result-image {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 83%;
		flex-grow: 1.5;
		// margin-bottom: 20px;

		img {
			// padding: 20px;
			width: 100%;
			height: 100%;
			object-fit: contain;
			filter: drop-shadow(5px 5px 5px #3232326a);
		}
	}

	.btns-col-group {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: center;
		flex-grow: 1;

		.btns-container {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			align-items: center;
			padding: 0px 4%;

			img {
				width: 8rem;
			}
		}
	}

	.tip-text {
		position: absolute;
		font-size: 0.8rem;
		color: #fff;
		bottom: 3%;
	}
}

.image-selector {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem;
	align-items: center;

	select {
		padding: 0.5rem;
		font-size: 1rem;
	}

	button {
		padding: 0.5rem 1rem;
	}

	.result-image {
		margin-top: 1rem;

		img {
			max-width: 100%;
			height: auto;
		}
	}
}
